BasedOnStyle: Microsoft

---
Language: Cpp
IndentWidth: 4
ColumnLimit: 0
PointerAlignment: Left 
ReferenceAlignment: Left
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
PackConstructorInitializers: Never
SpaceBeforeCtorInitializerColon: false
SpaceAfterTemplateKeyword: true
IncludeBlocks: Regroup
AlignOperands: true
BreakTemplateDeclarations: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterStruct: true
  AfterClass: true
  AfterFunction: true
  AfterCaseLabel: true
  BeforeElse: true